* {
  box-sizing: border-box;
  user-select: none;
}
body {
  background: #dfdfdf;
  font-family: "Nunito", serif;
  font-size: 13px;
  color: $main_color_text;
}

@import "_test-finish.scss";
@import "_test-started.scss";
@import "_test-description.scss";

$main_color_text: #263238;
$color_red: #d32f2f;
$color_field: #efefef;

.wraper {
  display: flex;
  justify-content: center;
  max-width: 1250px;
  margin: 0px auto;
}
header h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Rubik", serif;
  font-size: 32px;
  font-weight: normal;
  color: #d32f2f;
  letter-spacing: 0.3em;
  margin-top: 30px;
  margin-left: 11px;
  margin-bottom: 28px;
}
.navbar {
  max-width: 200px;
  transition: max-width 0.35s ease-in-out;
  max-height: 738px;
  font-size: 14px;
  background-color: #eceff1;

  &__head {
    display: flex;
    width: 200px;
    height: 50px;
    &__icon {
      .arrow {
        margin: 18px;
        width: 14px;
        height: 14px;
        z-index: 1;
      }
      .burger {
        padding: 20px 18px;
      }
    }
    &__headline {
      width: 51px;
      height: 20px;
      margin: 15px 74px 15px 25px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      color: #34515e;
      line-height: 20px;
    }
  }
  .hide {
    display: none;
  }

  hr {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid #cfd8dc;
  }
  &__tests {
    .list {
      margin: 0 8px 0 8px;
      font-size: 14px;
      padding: 0;
      .elem {
        max-width: 184px;
        max-height: 22px;
        list-style-position: inside;
        padding-left: 7px;
        height: 23px;
        margin-bottom: 6px;

        a {
          display: inline-block;
          text-decoration: none;
          color: #263238;
          line-height: 19px;
        }
        a:hover {
          color: #fff;
          border-radius: 5px;
        }
      }
      .active {
        background-color: #d32f2f;
        color: #fff;
        border-radius: 5px;
        > a {
          color: #fff;
        }
      }

      .elem::marker {
        font-size: 20px;
      }
      .elem:hover {
        background-color: $color_red;
        border-radius: 5px;
        color: #fff;
      }
      .elem:hover > a {
        color: #fff;
      }
    }
  }
}
.navbar-close {
  max-width: 50px;
  transition: max-width 0.45s ease-in-out;
}

.content-window {
  margin-left: auto;
  margin-right: auto;
  min-height: 738px;
  background-color: #fafafa;
  margin: 0;

  .start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #34515e;
    font-size: 15px;
    line-height: 20px;
    margin-top: 359px;
  }
}
.content-window-close {
  min-width: 1000px;
}
.content-window-open {
  min-width: 1150px;
}

footer {
  .about-company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
    font-size: 12px;
  }
}
